
.main {
  display: flex;
  // padding-top: 6rem;
  // background: linear-gradient(#91d5aa, #a1d1a4);
  gap: 20px;
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
  @media screen and (max-width: 960px) {
    width: 80%;
    flex-direction: column;
    
  }
  margin: 0 auto;
  .theseContainer{
    display: flex;
    flex-direction: column;
  }
  .these{
    flex: 1;
    background-color: darken(#91d5aa, 5%);
    padding: 20px;
    display: flex;
    align-items: center;
    h2{
      color: #fff;
    }
  }
  .books{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: 1fr 1fr;    
    .book{
      display: flex;
      gap: 10px;
      font-size: 1.3rem;
      font-weight: 300;
    }
  }
  .articles{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    @media screen and (max-width: 960px){
      grid-template-columns: repeat(1, 1fr);
    }
    .article{
      padding: 15px;
      background-color: lighten(#91d5aa, 20%);
      font-size: 1.2rem;
    }
  }
  .miniTitle{
    margin-bottom: 15px;
    background-color: bisque;
    padding: 5px 10px;
    // border-radius: 10px;
    width: fit-content;
    font-size: 0.8rem;
  }
}
.presentationWrapper{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
  .name{
    font-weight: 100;
    font-size: 6rem;
  }
  .fonction{
    font-weight: 900;
    font-size: 5rem;
  }
  
}
.coverContainer{
  height: 300px;
  padding: 10px;
  background: red;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(#91d5aa, #a1d1a4);
  
  img{
    border-radius: 300px;
    border: 5px solid #fff;
    border-radius: 100%;
    // box-shadow: 0px 0px 20px 5px #717171;
    box-sizing: border-box;
  }
}

